In [63]:
import pandas as pd
import numpy as np

In [64]:
preprocessed_absenteeism=pd.read_csv('/Users/raghavverma/Downloads/Absenteeism_preprocessed.csv')

In [65]:
df=preprocessed_absenteeism.copy()

In [66]:
df.describe()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700.000000,700.000000,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,0.250000,0.008571,0.090000,0.597143,6.36000,2.011429,222.347143,29.892857,36.417143,271.801774,26.737143,0.167143,1.021429,0.687143,6.761429
std,0.433322,0.092250,0.286386,0.490823,3.50501,1.480396,66.312960,14.804446,6.379083,40.021804,4.254701,0.373370,1.112215,1.166095,12.670082
min,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,3.00000,1.000000,179.000000,16.000000,31.000000,241.476000,24.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,0.000000,0.000000,1.000000,6.00000,2.000000,225.000000,26.000000,37.000000,264.249000,25.000000,0.000000,1.000000,0.000000,3.000000
75%,0.250000,0.000000,0.000000,1.000000,10.00000,3.000000,260.000000,50.000000,40.000000,294.217000,31.000000,0.000000,2.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,12.00000,6.000000,388.000000,52.000000,58.000000,378.884000,38.000000,1.000000,4.000000,8.000000,120.000000

In [67]:
df['Absenteeism Time in Hours'].median()

3.0

In [68]:
targets=np.where(df['Absenteeism Time in Hours']>df['Absenteeism Time in Hours'].median(),1,0)

In [69]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [70]:
df['Excessive absenteeism']=targets

In [71]:
data_with_targets=df.drop(['Absenteeism Time in Hours'],axis=1)

In [72]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [73]:
unscaled_inputs=data_with_targets.iloc[:,:-1]

In [74]:
df_unscaled=data_with_targets[['Month Value','Day of the week','Transportation Expense','Distance to Work','Age','Daily Work Load Average','Body Mass Index','Children','Pets']]

In [75]:
df_unscaled

,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Children,Pets
0,7,1,289,36,33,239.554,30,2,1
1,7,1,118,13,50,239.554,31,1,0
2,7,2,179,51,38,239.554,31,0,0
3,7,3,279,5,39,239.554,24,2,0
4,7,3,289,36,33,239.554,30,2,1
...,...,...,...,...,...,...,...,...,...
695,5,2,179,22,40,237.656,22,2,0
696,5,2,225,26,28,237.656,24,1,2
697,5,3,330,16,28,237.656,25,0,0
698,5,3,235,16,32,237.656,25,0,0
699,5,3,291,31,40,237.656,25,1,1

In [76]:
from sklearn.preprocessing import StandardScaler
df_std=StandardScaler().fit_transform(df_unscaled)

In [77]:
df_std

array([[ 0.18272635, -0.68370352,  1.00584437, ...,  0.76743118,
         0.88046927,  0.26848661],
       [ 0.18272635, -0.68370352, -1.57468098, ...,  1.00263338,
        -0.01928035, -0.58968976],
       [ 0.18272635, -0.00772546, -0.6541427 , ...,  1.00263338,
        -0.91902997, -0.58968976],
       ...,
       [-0.3882935 ,  0.66825259,  1.62456682, ..., -0.40857982,
        -0.91902997, -0.58968976],
       [-0.3882935 ,  0.66825259,  0.19094163, ..., -0.40857982,
        -0.91902997, -0.58968976],
       [-0.3882935 ,  0.66825259,  1.03602595, ..., -0.40857982,
        -0.01928035,  0.26848661]])

In [78]:
df_std=pd.DataFrame(df_std,columns=['Month Value','Day of the week','Transportation Expense','Distance to Work','Age','Daily Work Load Average','Body Mass Index','Children','Pets'])

In [79]:
df_un=data_with_targets[['Reason_1','Reason_2','Reason_3','Reason_4','Education']]

In [80]:
df_un=pd.concat([df_un,df_std],axis=1)

In [81]:
df_un.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education',
       'Month Value', 'Day of the week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Children', 'Pets'], dtype=object)

In [82]:
new_columns=['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Month Value', 'Transportation Expense',
       'Age', 'Body Mass Index','Education',
       'Children', 'Pets']

In [83]:
df_un=df_un[new_columns]

In [84]:
df_un

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [85]:
unscaled_inputs=df_un

In [86]:
unscaled_inputs=np.array(unscaled_inputs)

In [87]:
unscaled_inputs

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.88046927,  0.26848661],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        -0.01928035, -0.58968976],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        -0.91902997, -0.58968976],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.91902997, -0.58968976],
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
        -0.91902997, -0.58968976],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        -0.01928035,  0.26848661]])

# SCALING INPUTS

# Splitting Data

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
train_test_split(unscaled_inputs,targets)

[array([[ 0.        ,  0.        ,  1.        , ...,  1.        ,
         -0.01928035,  0.26848661],
        [ 0.        ,  0.        ,  1.        , ...,  0.        ,
         -0.91902997, -0.58968976],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         -0.01928035, -0.58968976],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         -0.91902997, -0.58968976],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         -0.91902997, -0.58968976],
        [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         -0.91902997, -0.58968976]]),
 array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          2.67996851, -0.58968976],
        [ 0.        ,  0.        ,  1.        , ...,  0.        ,
          0.88046927, -0.58968976],
        [ 0.        ,  0.        ,  1.        , ...,  0.        ,
          0.88046927,  0.26848661],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         -0.01928035,  0.26848661],
        [ 1.        ,  0.        ,  0.        , ...,  0.        ,
          1.78021889, -0.58968976],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         -0.91902997,  1.12666297]]),
 array([1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
        0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
        0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
        1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]),
 array([0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0])]

In [90]:
x_train,x_test,y_train,y_test=train_test_split(unscaled_inputs,targets,train_size=0.80,random_state=20)

In [91]:
print(x_train.shape,y_train.shape)

(560, 11) (560,)

In [92]:
print(x_test.shape,y_test.shape)

(140, 11) (140,)

# LogisticRegression model fitting

In [93]:
from sklearn.linear_model import LogisticRegression

In [94]:
from sklearn import metrics

In [95]:
reg=LogisticRegression()

In [96]:
reg.fit(x_train,y_train)

LogisticRegression()

In [97]:
reg.score(x_train,y_train)

0.7732142857142857

# Manual accuracy

In [98]:
output_train=reg.predict(x_train)

In [99]:
np.sum((output_train==y_train))

433

In [100]:
output_train.shape[0]

560

In [101]:
np.sum((output_train==y_train))/output_train.shape[0]

0.7732142857142857

# Finding intercept and coefficient

In [102]:
reg.intercept_

array([-1.6474549])

In [103]:
reg.coef_

array([[ 2.80019733,  0.95188356,  3.11555338,  0.83900082,  0.1589299 ,
         0.60528415, -0.16989096,  0.27981088, -0.21053312,  0.34826214,
        -0.27739602]])

In [104]:
features=data_with_targets.iloc[:,:-1]

In [105]:
feature_name=df_un.columns.values

In [106]:
summary_table=pd.DataFrame(columns=['Feature name'],data=feature_name)

In [107]:
summary_table['Coefficients']=np.transpose(reg.coef_)

In [108]:
summary_table.index=summary_table.index+1

In [109]:
summary_table.loc[0]=['Intercept',reg.intercept_[0]]

In [110]:
summary_table=summary_table.sort_index()

In [111]:
summary_table

              Feature name  Coefficients
0                Intercept     -1.647455
1                 Reason_1      2.800197
2                 Reason_2      0.951884
3                 Reason_3      3.115553
4                 Reason_4      0.839001
5              Month Value      0.158930
6   Transportation Expense      0.605284
7                      Age     -0.169891
8          Body Mass Index      0.279811
9                Education     -0.210533
10                Children      0.348262
11                    Pets     -0.277396

In [112]:
summary_table['Coefficients']=summary_table['Coefficients'].astype(float)

In [113]:
summary_table['Odds_ratio']=np.exp(summary_table.Coefficients)

In [114]:
summary_table.sort_values('Odds_ratio',ascending=False)

              Feature name  Coefficients  Odds_ratio
3                 Reason_3      3.115553   22.545903
1                 Reason_1      2.800197   16.447892
2                 Reason_2      0.951884    2.590585
4                 Reason_4      0.839001    2.314054
6   Transportation Expense      0.605284    1.831773
10                Children      0.348262    1.416604
8          Body Mass Index      0.279811    1.322880
5              Month Value      0.158930    1.172256
7                      Age     -0.169891    0.843757
9                Education     -0.210533    0.810152
11                    Pets     -0.277396    0.757754
0                Intercept     -1.647455    0.192539

# testing data

In [115]:
reg.score(x_test,y_test)

0.75

In [116]:
predicted_proba=reg.predict_proba(x_test)

In [117]:
predicted_proba

array([[0.71340413, 0.28659587],
       [0.58724228, 0.41275772],
       [0.44020821, 0.55979179],
       [0.78159464, 0.21840536],
       [0.08410854, 0.91589146],
       [0.33487603, 0.66512397],
       [0.29984576, 0.70015424],
       [0.13103971, 0.86896029],
       [0.78625404, 0.21374596],
       [0.74903632, 0.25096368],
       [0.49397598, 0.50602402],
       [0.22484913, 0.77515087],
       [0.07129151, 0.92870849],
       [0.73178133, 0.26821867],
       [0.30934135, 0.69065865],
       [0.5471671 , 0.4528329 ],
       [0.55052275, 0.44947725],
       [0.5392707 , 0.4607293 ],
       [0.40201117, 0.59798883],
       [0.05361575, 0.94638425],
       [0.7003009 , 0.2996991 ],
       [0.78159464, 0.21840536],
       [0.42037128, 0.57962872],
       [0.42037128, 0.57962872],
       [0.24783565, 0.75216435],
       [0.74566259, 0.25433741],
       [0.51017274, 0.48982726],
       [0.85690195, 0.14309805],
       [0.20349733, 0.79650267],
       [0.78159464, 0.21840536],
       [0.63043442, 0.36956558],
       [0.32093965, 0.67906035],
       [0.31497433, 0.68502567],
       [0.47131917, 0.52868083],
       [0.78159464, 0.21840536],
       [0.46493449, 0.53506551],
       [0.77852919, 0.22147081],
       [0.26307895, 0.73692105],
       [0.59501956, 0.40498044],
       [0.39494012, 0.60505988],
       [0.78924152, 0.21075848],
       [0.54775534, 0.45224466],
       [0.76248708, 0.23751292],
       [0.60166502, 0.39833498],
       [0.17244553, 0.82755447],
       [0.43202425, 0.56797575],
       [0.30886675, 0.69113325],
       [0.71340413, 0.28659587],
       [0.78064733, 0.21935267],
       [0.7966903 , 0.2033097 ],
       [0.42371744, 0.57628256],
       [0.6705336 , 0.3294664 ],
       [0.33487603, 0.66512397],
       [0.73050501, 0.26949499],
       [0.16678032, 0.83321968],
       [0.56508475, 0.43491525],
       [0.11625388, 0.88374612],
       [0.76872928, 0.23127072],
       [0.66584142, 0.33415858],
       [0.65567061, 0.34432939],
       [0.30090655, 0.69909345],
       [0.34505737, 0.65494263],
       [0.70755059, 0.29244941],
       [0.20799242, 0.79200758],
       [0.79249724, 0.20750276],
       [0.73159442, 0.26840558],
       [0.91291434, 0.08708566],
       [0.77852919, 0.22147081],
       [0.26754583, 0.73245417],
       [0.69469781, 0.30530219],
       [0.77852919, 0.22147081],
       [0.70985592, 0.29014408],
       [0.09561809, 0.90438191],
       [0.53938703, 0.46061297],
       [0.39825313, 0.60174687],
       [0.78159464, 0.21840536],
       [0.22645293, 0.77354707],
       [0.26837292, 0.73162708],
       [0.25831165, 0.74168835],
       [0.32855571, 0.67144429],
       [0.75417184, 0.24582816],
       [0.92387058, 0.07612942],
       [0.76872928, 0.23127072],
       [0.24741155, 0.75258845],
       [0.56558369, 0.43441631],
       [0.87775043, 0.12224957],
       [0.29572951, 0.70427049],
       [0.42037128, 0.57962872],
       [0.75881641, 0.24118359],
       [0.32093965, 0.67906035],
       [0.82488593, 0.17511407],
       [0.84950183, 0.15049817],
       [0.77374985, 0.22625015],
       [0.73159442, 0.26840558],
       [0.74903632, 0.25096368],
       [0.14944055, 0.85055945],
       [0.70403751, 0.29596249],
       [0.23713867, 0.76286133],
       [0.75645005, 0.24354995],
       [0.78203264, 0.21796736],
       [0.37671823, 0.62328177],
       [0.32093965, 0.67906035],
       [0.30409309, 0.69590691],
       [0.25542876, 0.74457124],
       [0.55063861, 0.44936139],
       [0.51677447, 0.48322553],
       [0.72259112, 0.27740888],
       [0.14944055, 0.85055945],
       [0.2220274 , 0.7779726 ],
       [0.85521156, 0.14478844],
       [0.93001302, 0.06998698],
       [0.09640551, 0.90359449],
       [0.33736668, 0.66263332],
       [0.66154998, 0.33845002],
       [0.47623876, 0.52376124],
       [0.43903262, 0.56096738],
       [0.21378105, 0.78621895],
       [0.17783793, 0.82216207],
       [0.45811539, 0.54188461],
       [0.6906917 , 0.3093083 ],
       [0.74041049, 0.25958951],
       [0.8393858 , 0.1606142 ],
       [0.18777875, 0.81222125],
       [0.54775534, 0.45224466],
       [0.78159464, 0.21840536],
       [0.64457904, 0.35542096],
       [0.78924152, 0.21075848],
       [0.89029009, 0.10970991],
       [0.25937462, 0.74062538],
       [0.7003009 , 0.2996991 ],
       [0.38415023, 0.61584977],
       [0.78924152, 0.21075848],
       [0.70403751, 0.29596249],
       [0.64457904, 0.35542096],
       [0.73490357, 0.26509643],
       [0.47623876, 0.52376124],
       [0.5392707 , 0.4607293 ],
       [0.68498978, 0.31501022],
       [0.75645005, 0.24354995],
       [0.53938703, 0.46061297]])

In [122]:
predicted_proba[:,1]

array([0.28659587, 0.41275772, 0.55979179, 0.21840536, 0.91589146,
       0.66512397, 0.70015424, 0.86896029, 0.21374596, 0.25096368,
       0.50602402, 0.77515087, 0.92870849, 0.26821867, 0.69065865,
       0.4528329 , 0.44947725, 0.4607293 , 0.59798883, 0.94638425,
       0.2996991 , 0.21840536, 0.57962872, 0.57962872, 0.75216435,
       0.25433741, 0.48982726, 0.14309805, 0.79650267, 0.21840536,
       0.36956558, 0.67906035, 0.68502567, 0.52868083, 0.21840536,
       0.53506551, 0.22147081, 0.73692105, 0.40498044, 0.60505988,
       0.21075848, 0.45224466, 0.23751292, 0.39833498, 0.82755447,
       0.56797575, 0.69113325, 0.28659587, 0.21935267, 0.2033097 ,
       0.57628256, 0.3294664 , 0.66512397, 0.26949499, 0.83321968,
       0.43491525, 0.88374612, 0.23127072, 0.33415858, 0.34432939,
       0.69909345, 0.65494263, 0.29244941, 0.79200758, 0.20750276,
       0.26840558, 0.08708566, 0.22147081, 0.73245417, 0.30530219,
       0.22147081, 0.29014408, 0.90438191, 0.46061297, 0.60174687,
       0.21840536, 0.77354707, 0.73162708, 0.74168835, 0.67144429,
       0.24582816, 0.07612942, 0.23127072, 0.75258845, 0.43441631,
       0.12224957, 0.70427049, 0.57962872, 0.24118359, 0.67906035,
       0.17511407, 0.15049817, 0.22625015, 0.26840558, 0.25096368,
       0.85055945, 0.29596249, 0.76286133, 0.24354995, 0.21796736,
       0.62328177, 0.67906035, 0.69590691, 0.74457124, 0.44936139,
       0.48322553, 0.27740888, 0.85055945, 0.7779726 , 0.14478844,
       0.06998698, 0.90359449, 0.66263332, 0.33845002, 0.52376124,
       0.56096738, 0.78621895, 0.82216207, 0.54188461, 0.3093083 ,
       0.25958951, 0.1606142 , 0.81222125, 0.45224466, 0.21840536,
       0.35542096, 0.21075848, 0.10970991, 0.74062538, 0.2996991 ,
       0.61584977, 0.21075848, 0.29596249, 0.35542096, 0.26509643,
       0.52376124, 0.4607293 , 0.31501022, 0.24354995, 0.46061297])

In [119]:
df_un.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487

In [124]:
reg.predict(df_un)

array([1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0])

In [125]:
reg.score(df_un,targets)

0.7685714285714286

In [129]:
reg.predict_proba(df_un)[:,1]

array([0.59082405, 0.07612942, 0.25096368, 0.87219417, 0.59082405,
       0.25096368, 0.48334245, 0.60505988, 0.78621895, 0.30530219,
       0.91589146, 0.91589146, 0.91589146, 0.70427049, 0.25096368,
       0.70542319, 0.25096368, 0.76549995, 0.70015424, 0.44936139,
       0.87582448, 0.71363274, 0.8743431 , 0.61584977, 0.9363924 ,
       0.4946805 , 0.60174687, 0.16777191, 0.9363924 , 0.25958951,
       0.77354707, 0.67439906, 0.31501022, 0.67439906, 0.25958951,
       0.4946805 , 0.60174687, 0.82771772, 0.17531704, 0.61584977,
       0.21048403, 0.15049817, 0.26840558, 0.91879734, 0.29244941,
       0.15049817, 0.26840558, 0.41275772, 0.62652682, 0.83321968,
       0.42027236, 0.14449042, 0.28100474, 0.15049817, 0.40591571,
       0.08276298, 0.79200758, 0.26840558, 0.65147011, 0.46061297,
       0.26840558, 0.62652682, 0.27740888, 0.15639189, 0.08627349,
       0.14875272, 0.27740888, 0.29026298, 0.15639189, 0.29026298,
       0.47190484, 0.42379818, 0.27740888, 0.29026298, 0.94476159,
       0.83943037, 0.29026298, 0.62328177, 0.51736135, 0.637082  ,
       0.28659587, 0.2996991 , 0.74062538, 0.75678431, 0.43491525,
       0.76286133, 0.2825881 , 0.84545269, 0.2996991 , 0.76286133,
       0.2996991 , 0.75678431, 0.75258845, 0.6475067 , 0.48322553,
       0.2996991 , 0.92484502, 0.43491525, 0.49456346, 0.66418082,
       0.1930588 , 0.35542096, 0.3093083 , 0.6577928 , 0.66418082,
       0.53997089, 0.3093083 , 0.6577928 , 0.3093083 , 0.53997089,
       0.16874176, 0.80463112, 0.3093083 , 0.21374596, 0.54558429,
       0.10970991, 0.73692105, 0.21374596, 0.15643204, 0.21374596,
       0.21374596, 0.10970991, 0.21374596, 0.10970991, 0.10970991,
       0.10970991, 0.10970991, 0.10970991, 0.10970991, 0.53089824,
       0.91464127, 0.10970991, 0.15643204, 0.10970991, 0.10970991,
       0.21374596, 0.52376124, 0.16251368, 0.65619374, 0.65494263,
       0.23127072, 0.20750276, 0.54976295, 0.53506551, 0.85438114,
       0.85438114, 0.22147081, 0.22147081, 0.10837716, 0.16251368,
       0.22147081, 0.88043641, 0.4304579 , 0.22147081, 0.71839378,
       0.35011382, 0.92564512, 0.6102043 , 0.19916063, 0.34868305,
       0.90081254, 0.47480803, 0.82216207, 0.90081254, 0.61224648,
       0.69113325, 0.56096738, 0.69113325, 0.89539422, 0.61224648,
       0.56096738, 0.22939339, 0.85055945, 0.66512397, 0.22939339,
       0.67906035, 0.47480803, 0.67906035, 0.67906035, 0.66512397,
       0.85055945, 0.22939339, 0.82216207, 0.22939339, 0.35905755,
       0.23751292, 0.24779674, 0.67636793, 0.24779674, 0.23751292,
       0.57210999, 0.67515389, 0.14267295, 0.35905755, 0.67636793,
       0.35905755, 0.40498044, 0.92870849, 0.92468664, 0.70073467,
       0.87372622, 0.89956868, 0.73162708, 0.07116644, 0.90359449,
       0.25635097, 0.25635097, 0.74881857, 0.76052593, 0.61246413,
       0.25635097, 0.68502567, 0.90359449, 0.27479091, 0.27232549,
       0.2430808 , 0.29014408, 0.68502567, 0.55312573, 0.4607293 ,
       0.75827366, 0.47202152, 0.69590691, 0.38019871, 0.69590691,
       0.69473309, 0.26509643, 0.69590691, 0.56431279, 0.74906758,
       0.15413742, 0.56431279, 0.43745784, 0.69473309, 0.36024355,
       0.25433741, 0.78621895, 0.57543476, 0.53487955, 0.13925982,
       0.4867274 , 0.59772793, 0.2740303 , 0.87080483, 0.87080483,
       0.16153145, 0.48334245, 0.59082405, 0.25096368, 0.93363561,
       0.93363561, 0.39833498, 0.9363924 , 0.66263332, 0.60174687,
       0.71896401, 0.86747849, 0.86747849, 0.61584977, 0.60174687,
       0.44936139, 0.7779726 , 0.13762359, 0.58648086, 0.44936139,
       0.31501022, 0.16634437, 0.81753774, 0.8743431 , 0.64423889,
       0.72281525, 0.26840558, 0.93904215, 0.33415858, 0.723924  ,
       0.41275772, 0.27297838, 0.23410356, 0.72281525, 0.723924  ,
       0.26840558, 0.41275772, 0.62652682, 0.53732169, 0.17273246,
       0.33415858, 0.41275772, 0.83321968, 0.72281525, 0.62328177,
       0.33491308, 0.62328177, 0.62328177, 0.08627349, 0.27858327,
       0.55398355, 0.56853424, 0.81904408, 0.27740888, 0.55398355,
       0.34432939, 0.9415884 , 0.637082  , 0.34432939, 0.5485815 ,
       0.5485815 , 0.17931311, 0.42379818, 0.14875272, 0.17931311,
       0.88397979, 0.43136618, 0.24118359, 0.08708566, 0.55398355,
       0.55398355, 0.17931311, 0.57962872, 0.48322553, 0.74062538,
       0.6475067 , 0.43491525, 0.87397716, 0.76286133, 0.55979179,
       0.3294664 , 0.83697381, 0.57962872, 0.34509496, 0.28659587,
       0.74168835, 0.84545269, 0.74168835, 0.28659587, 0.92885906,
       0.67282284, 0.29658645, 0.33221296, 0.28659587, 0.76094028,
       0.29596249, 0.29596249, 0.35542096, 0.1930588 , 0.6577928 ,
       0.75028604, 0.29596249, 0.29596249, 0.1606142 , 0.16874176,
       0.35542096, 0.29596249, 0.90438191, 0.79671724, 0.6577928 ,
       0.19466207, 0.29596249, 0.94638425, 0.21374596, 0.54558429,
       0.22330209, 0.70407216, 0.22330209, 0.52376124, 0.77653923,
       0.44684078, 0.12681781, 0.2033097 , 0.2033097 , 0.11422107,
       0.21075848, 0.66909192, 0.53506551, 0.54976295, 0.21075848,
       0.21075848, 0.21075848, 0.65494263, 0.21168161, 0.21075848,
       0.20750276, 0.21075848, 0.21168161, 0.33845002, 0.52184582,
       0.21075848, 0.21075848, 0.65619374, 0.21075848, 0.21075848,
       0.56797575, 0.73245417, 0.21935267, 0.56096738, 0.21840536,
       0.26821867, 0.18176552, 0.40429183, 0.21840536, 0.43827665,
       0.58740575, 0.78123423, 0.13721215, 0.53060069, 0.53060069,
       0.13673465, 0.10827886, 0.06430565, 0.21840536, 0.54633387,
       0.92564512, 0.21935267, 0.22625015, 0.57210999, 0.4528329 ,
       0.77515087, 0.40498044, 0.4528329 , 0.22625015, 0.14267295,
       0.54188461, 0.43441631, 0.57210999, 0.22625015, 0.50090425,
       0.87316718, 0.41596022, 0.96246416, 0.12224957, 0.23429224,
       0.4607293 , 0.58317994, 0.63355937, 0.63355937, 0.69065865,
       0.24582816, 0.86024682, 0.12224957, 0.12873351, 0.74044245,
       0.12224957, 0.13390925, 0.24253059, 0.13390925, 0.25433741,
       0.59416665, 0.12154756, 0.81343581, 0.24253059, 0.24354995,
       0.24253059, 0.50335914, 0.24253059, 0.25433741, 0.15413742,
       0.69473309, 0.58677057, 0.24354995, 0.86561339, 0.74906758,
       0.13232622, 0.26303848, 0.91589146, 0.77003599, 0.4867274 ,
       0.13925982, 0.60505988, 0.13925982, 0.49628906, 0.16885286,
       0.25200669, 0.71727024, 0.25096368, 0.16014678, 0.48334245,
       0.59082405, 0.51469897, 0.25200669, 0.39094807, 0.48982726,
       0.25958951, 0.21796736, 0.26065589, 0.14478844, 0.60174687,
       0.52602369, 0.40180431, 0.25958951, 0.21796736, 0.49806831,
       0.31501022, 0.26065589, 0.14478844, 0.40180431, 0.61584977,
       0.26949499, 0.26949499, 0.15049817, 0.29244941, 0.41275772,
       0.14309805, 0.46061297, 0.26840558, 0.28100474, 0.14309805,
       0.81222125, 0.50602402, 0.82755447, 0.74457124, 0.27852092,
       0.82755447, 0.42379818, 0.15639189, 0.40304273, 0.42379818,
       0.29026298, 0.81904408, 0.81904408, 0.29026298, 0.81904408,
       0.27740888, 0.67144429, 0.42379818, 0.96985364, 0.74404299,
       0.96985364, 0.74404299, 0.27348033, 0.74457124, 0.86397409,
       0.15019046, 0.74404299, 0.79650267, 0.16247227, 0.88988803,
       0.28659587, 0.57962872, 0.63387507, 0.75310492, 0.2996991 ,
       0.52868083, 0.43491525, 0.57962872, 0.75258845, 0.28659587,
       0.16247227, 0.57962872, 0.2996991 , 0.24958528, 0.42797362,
       0.86921928, 0.35464489, 0.2996991 , 0.82567221, 0.52868083,
       0.74924649, 0.44609815, 0.3093083 , 0.57628256, 0.3093083 ,
       0.3093083 , 0.89296791, 0.76503871, 0.57094142, 0.40854557,
       0.57628256, 0.3093083 , 0.3093083 , 0.3093083 , 0.82188386,
       0.45224466, 0.45224466, 0.16865585, 0.16865585, 0.45224466,
       0.16865585, 0.76133434, 0.66404417, 0.10406968, 0.73692105,
       0.10406968, 0.2033097 , 0.88658397, 0.2033097 , 0.2033097 ,
       0.65494263, 0.22147081, 0.81543031, 0.21075848, 0.22147081,
       0.21075848, 0.10837716, 0.22486766, 0.21075848, 0.30496995,
       0.21075848, 0.66909192, 0.21075848, 0.21075848, 0.22147081,
       0.46350766, 0.17511407, 0.21075848, 0.24248603, 0.10837716,
       0.21075848, 0.65494263, 0.21075848, 0.23127072, 0.22194977,
       0.21075848, 0.66909192, 0.21075848, 0.38331349, 0.22147081,
       0.21075848, 0.21075848, 0.22194977, 0.21840536, 0.39409491,
       0.17305849, 0.39409491, 0.59798883, 0.21840536, 0.22939339,
       0.21840536, 0.22939339, 0.11284047, 0.22988442, 0.88374612,
       0.66512397, 0.21840536, 0.21840536, 0.11284047, 0.66512397,
       0.82216207, 0.21840536, 0.67906035, 0.21840536, 0.54633387,
       0.17305849, 0.21840536, 0.39409491, 0.21840536, 0.11284047,
       0.21840536, 0.21840536, 0.1402086 , 0.69113325, 0.21840536,
       0.21840536, 0.47480803, 0.92146507, 0.76714359, 0.68886812,
       0.50090425, 0.88832745, 0.86896029, 0.67082179, 0.11746337,
       0.96079002, 0.2064968 , 0.14267295, 0.44947725, 0.50090425,
       0.27721807, 0.11746337, 0.75216435, 0.25908972, 0.11746337,
       0.24779674, 0.75216435, 0.54188461, 0.11746337, 0.28640125,
       0.76407627, 0.24634312, 0.51224582, 0.49201586, 0.49747473,
       0.36956558, 0.70261949, 0.88676088, 0.24947888, 0.12224957,
       0.14831372, 0.55312573, 0.12873351, 0.06998698, 0.12224957,
       0.2430808 , 0.21403098, 0.71016279, 0.69909345, 0.36956558,
       0.63355937, 0.69850923, 0.86024682, 0.24634312, 0.36956558])

In [130]:
prob=reg.predict_proba(df_un)[:,1]

In [133]:
df_new=data_with_targets.iloc[:,:-1]

In [135]:
df_new["Probability"]=prob

In [137]:
pred=[]
for i in prob:
    if i<0.5:
        i=0
    else:
        i=1
    pred.append(i)
print(pred)

[1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0]

In [138]:
df_new["Prediction"]=pred

In [145]:
pd.options.display.max_rows=1000

In [140]:
df_new.to_csv('/Users/raghavverma/Documents/Absenteeism_final.csv')